<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main">
        <h1>Authentication</h1>
        <h2>Login</h2>
        <form class="auth-form" action="/auth/login" method="POST">
            <label for="id">ID:</label>
            <input type="text" id="id" name="id" placeholder="id" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="パスワードを入力..." required>
            <button class="primary" type="submit">Login</button>
        </form>
        <h2>Register</h2>
        <form class="auth-form" action="/auth/register" method="POST">
            <label for="id">ID:</label>
            <input type="text" id="id" name="id" placeholder="id" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="パスワードを入力..." required>
            <button class="primary" type="submit">Register</button>
        </form>
    </div>
</body>

</html>